@import "tailwindcss";

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  background-image: radial-gradient(circle, #222, #111);
  scrollbar-color: oklch(0.715 0.143 215.221) #111;
  scrollbar-width: thin;
}

body {
  font-family: system-ui;
  font-size: 1.25rem;
  line-height: 1.5;
}

p {
  color: #fff;
}

section {
  padding-block: 3rem;
}
