*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  box-sizing: inherit;
}

:root {
  --color-1: oklch(0.715 0.143 215.221);
  --primary-1: hsla(250, 4%, 31%, 0.212);
  --primary-2: hsla(260, 4%, 41%, 0.185);
  --border-1: hsla(0, 84%, 19%, 0.25);
  --border-2: hsla(0, 3%, 46%, 0.25);
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  background-image: radial-gradient(circle, #222, #111);
  scrollbar-color: var(--color-1) oklch(35.618% 0.00004 271.152);
  scrollbar-width: thin;
}

body {
  font-family: system-ui;
  font-size: 1.25rem;
  line-height: 1.5;
}

p {
  color: oklch(100% 0 0);
}

section {
  padding-block: 3rem;
}

/* latin-ext
@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firacode/v26/uU9eCBsR6Z2vfE9aq3bL0fxyUs4tcw4W_D1sJV77Nv7g.woff2)
    format("woff2");
  unicode-range:
    U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304,
    U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
} */
