<section id='contact'>
  <div class='wrapper'>
    <div class='container'>
      <form action='action_page.php'>
        <div class='row'>
          <div class='col-25'>
            <label for='fname'>Full Name</label>
          </div>
          <div class='col-75'>
            <input
              type='text'
              id='fname'
              name='firstname'
              placeholder='Your name..'
            />
          </div>
        </div>
        <div class='row'>
          <div class='col-25'>
            <label for='lname'>Email</label>
          </div>
          <div class='col-75'>
            <input
              type='email'
              id='email'
              name='email'
              placeholder='Your Email Address..'
            />
          </div>
        </div>
        <div class='row'>
          <div class='col-25'>
            <label for='subject'>Subject</label>
          </div>
          <div class='col-75'>
            <textarea
              id='subject'
              name='subject'
              placeholder='Write something..'
              style='height:200px'></textarea>
          </div>
        </div>
        <div class='row'>
          <input type='submit' value='Submit' />
        </div>
      </form>
    </div>
  </div>
</section>
<style>
  :root {
    --primary-1: hsla(250, 4%, 31%, 0.212);
    --primary-2: hsla(260, 4%, 41%, 0.185);
    --border-1: hsla(0, 84%, 19%, 0.25);
    --border-2: hsla(0, 3%, 46%, 0.25);
  }
  .wrapper {
    display: flex;
    justify-content: center;
  }

  input[type="text"],
  input[type="email"],
  select,
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #f2f7ff;
    border-radius: 1rem;
    box-sizing: border-box;
    resize: vertical;
    color: #f2f7ff;
  }

  input[type="text"]:focus,
  input[type="email"]:focus,
  select:focus,
  textarea:focus {
    outline: 2px solid #f2f2f2;
  }

  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    color: #f2f7ff;
    font-weight: 900;
    font-family: system-ui;
  }

  input[type="submit"] {
    background-color: var(--primary-1);
    color: #f2f7ff;
    padding: 12px 20px;
    border: 1px solid;
    border-radius: 1rem;
    cursor: pointer;
    float: right;
  }

  .container {
    --border-width: 2.5px;
    border-radius: 3rem;
    backdrop-filter: blur(36px) brightness(90%) saturate(120%);
    padding: 20px;
    text-align: left;
    width: 900px;
  }

  .container::before {
    position: absolute;
    content: "";
    z-index: -1;
    inset: 0;
    border-radius: inherit;
    border: var(--border-width) solid #f2f2f2;
    background: radial-gradient(var(--border-1), var(--border-2)) border-box;
    mask:
      radial-gradient(black, black) border-box,
      radial-gradient(black, black) padding-box;
    mask-composite: subtract;
  }

  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }

  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  @media screen and (max-width: 600px) {
    .container {
      width: calc(100% - 1rem);
    }

    .col-25,
    .col-75,
    input[type="submit"] {
      width: 100%;
      margin-top: 0;
    }
  }
</style>
