---

---

<section id='contact'>
  <div class='wrapper'>
    <div class='contact-form'>
      <div class='flow'>
        <h1>Lets chat!</h1><p>
          Please provide your contact details and I will be in touch as soon as
          possible.
        </p>
      </div>
      <form
        name='contactform'
        method='POST'
        netlify-honeypot='bot-field'
        data-netlify='true'
      >
        <label class='hidden'>
          Dont fill this out if youre human: <input
            name='bot-field'
            type='text'
          />
        </label>
        <input type='hidden' name='form-name' value='contactform' />
        <div class='form-group'>
          <label for='name'>Name</label>
          <input placeholder='Your Name' id='name' type='text' required />
        </div>
        <div class='form-group'>
          <label for='email'>Email</label>
          <input
            placeholder='Your email address here...'
            id='email'
            type='email'
            required
          />
        </div>
        <div class='form-group'>
          <label for='message'>Message</label>
          <textarea placeholder='Hi, I love your work!' required></textarea>
        </div>

        <button type='submit'>Send</button>
      </form>
    </div>
  </div>
</section>

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  input,
  button,
  select,
  textarea {
    font: inherit;
  }

  .wrapper {
    display: flex;
    /* grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); */
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    justify-content: center;
  }

  form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    align-items: center;
    gap: 1rem;
  }

  .form-group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }

  h1 {
    color: aliceblue;
    font-size: 2.8rem;
  }

  label,
  textarea {
    text-transform: uppercase;
    font-size: 1rem;
    color: antiquewhite;
  }

  input,
  textarea {
    background: var(--surface-2);
    color: var(--text-1);
    border: var(--border);
    border-radius: 16px;
    padding: 1ex 2ex;

    accent-color: var(--accent);
  }

  input:not(:placeholder-shown)valid {
    outline-color: rgba(87, 199, 133, 1);
  }

  input:not(:placeholder-shown)invalid {
    outline-color: rgba(218, 85, 85, 1);
  }

  .contact-form {
    padding: 3rem;
    --border-width: 2px;
    border-radius: 3rem;
    backdrop-filter: blur(36px) brightness(80%) sepia(20%) saturate(120%);
    width: min(100% - 4rem, 1200px);
    align-items: center;
    justify-content: center;
  }

  .contact-form::before {
    position: absolute;
    content: "";
    z-index: -1;
    inset: 0;
    border-radius: inherit;
    border: var(--border-width) solid transparent;
    backdrop-filter: brightness(180%) saturate(120%);
    background: radial-gradient(var(--border-1), var(--border-2)) border-box;
    mask:
      radial-gradient(black, black) border-box,
      radial-gradient(black, black) padding-box;
    mask-composite: subtract;
    align-items: center;
    justify-content: center;
  }

  button {
    cursor: pointer;
    background-color: var(--accent);
    color: var(--text-1);
    padding: 1em 1.5em;
    border: 0;
    border-radius: 16px;

    &:hover,
    &:focus-visible {
      background-color: hsl(from var(--accent) h s 30%);
    }
  }

  * {
    box-sizing: border-box;
    margin: 0;
  }

  .hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  :root {
    --surface-0: hsl(229, 41%, 5%);
    --surface-1: hsl(229, 25%, 12%);
    --surface-2: hsl(234, 26%, 16%);
    --text-1: hsl(229, 12%, 100%);
    --text-2: hsl(229, 12%, 66%);
    --required: hsl(321, 32%, 56%);
    --accent: hsl(262, 84%, 52%);
    --border: 1px solid hsl(229, 22%, 19%);
  }
</style>
