<div [data-scroll-watcher]></div>
<section class='text-[var(--white)] mt-12 md:mt-0' id='home'>
  <div class='hallo' id='hallo'>
    <div class='max-w-5xl mx-auto md:py-36 p-12'>
      <div class='grid grid-cols-2'>
        <div class='text-left'>
          <p class='text-md md:text-lg'>Hi, my name is Fredrik.</p>
        </div>
        <figure class='relative isolate pt-6'>
          <svg
            viewBox='0 0 162 128'
            fill='none'
            aria-hidden='true'
            class='absolute top-0 left-0 -z-10 h-32 stroke-white/20'
          >
            <path
              id='b56e9dab-6ccb-4d32-ad02-6b4bb5d9bbeb'
              d='M65.5697 118.507L65.8918 118.89C68.9503 116.314 71.367 113.253 73.1386 109.71C74.9162 106.155 75.8027 102.28 75.8027 98.0919C75.8027 94.237 75.16 90.6155 73.8708 87.2314C72.5851 83.8565 70.8137 80.9533 68.553 78.5292C66.4529 76.1079 63.9476 74.2482 61.0407 72.9536C58.2795 71.4949 55.276 70.767 52.0386 70.767C48.9935 70.767 46.4686 71.1668 44.4872 71.9924L44.4799 71.9955L44.4726 71.9988C42.7101 72.7999 41.1035 73.6831 39.6544 74.6492C38.2407 75.5916 36.8279 76.455 35.4159 77.2394L35.4047 77.2457L35.3938 77.2525C34.2318 77.9787 32.6713 78.3634 30.6736 78.3634C29.0405 78.3634 27.5131 77.2868 26.1274 74.8257C24.7483 72.2185 24.0519 69.2166 24.0519 65.8071C24.0519 60.0311 25.3782 54.4081 28.0373 48.9335C30.703 43.4454 34.3114 38.345 38.8667 33.6325C43.5812 28.761 49.0045 24.5159 55.1389 20.8979C60.1667 18.0071 65.4966 15.6179 71.1291 13.7305C73.8626 12.8145 75.8027 10.2968 75.8027 7.38572C75.8027 3.6497 72.6341 0.62247 68.8814 1.1527C61.1635 2.2432 53.7398 4.41426 46.6119 7.66522C37.5369 11.6459 29.5729 17.0612 22.7236 23.9105C16.0322 30.6019 10.618 38.4859 6.47981 47.558L6.47976 47.558L6.47682 47.5647C2.4901 56.6544 0.5 66.6148 0.5 77.4391C0.5 84.2996 1.61702 90.7679 3.85425 96.8404L3.8558 96.8445C6.08991 102.749 9.12394 108.02 12.959 112.654L12.959 112.654L12.9646 112.661C16.8027 117.138 21.2829 120.739 26.4034 123.459L26.4033 123.459L26.4144 123.465C31.5505 126.033 37.0873 127.316 43.0178 127.316C47.5035 127.316 51.6783 126.595 55.5376 125.148L55.5376 125.148L55.5477 125.144C59.5516 123.542 63.0052 121.456 65.9019 118.881L65.5697 118.507Z'
            ></path>
            <use href='#b56e9dab-6ccb-4d32-ad02-6b4bb5d9bbeb' x='86'></use>
          </svg>
          <blockquote class='text-xl/8 font-semibold text-white'>
            <p>
              I love solving problems, using the right tools to build simple and
              elegant solutions. With knowledge ranging from infrastructure to
              fullstack development.
            </p>
          </blockquote>
        </figure>
      </div>
    </div>
  </div>

  <style></style>
  <div class='max-w-5xl mx-auto p-12'>
    <div class='flex h-screen flex-col'>
      <div class='m-auto gap-100'>
        <div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Proin
            congue porttitor ut dignissim iaculis. Erat ante tellus nunc libero
            quisque sagittis aliquet dictum. Maecenas metus est leo lacinia
            sapien tempor dictumst sociosqu potenti condimentum curabitur sit
            curabitur. Magna vulputate vestibulum ullamcorper vitae tortor
            maecenas turpis vehicula condimentum varius ligula quisque tortor.
            Pulvinar placerat pretium aliquet massa augue himenaeos nulla
            integer purus a.
          </p>
        </div>
        <div>
          <p>
            Rhoncus nisi auctor dui pharetra ullamcorper viverra ante. Mauris
            euismod morbi elit integer ipsum aptent nisl platea. Rhoncus
            sagittis nulla dui senectus ad suspendisse vestibulum eros platea
            ornare auctor tristique.
          </p>
        </div>
        <p>
          Curae nibh eget dignissim viverra vel potenti curabitur suspendisse
          semper orci. Potenti blandit adipiscing aptent aptent himenaeos ornare
          curae nibh varius fringilla. Hac placerat lacus fusce himenaeos
          quisque. Fames tellus aptent scelerisque dignissim dictumst morbi
          viverra amet vitae id elementum habitasse eros. Senectus sodales elit
          nisl sit mi sed pharetra mauris sit interdum curabitur.
        </p>
        <p>
          Orci sollicitudin leo venenatis egestas maecenas nulla risus proin non
          quam aptent. Cubilia non primis nibh nisl viverra a gravida bibendum
          risus luctus velit lorem facilisis fames ad. Nostra porta odio risus
          nam ipsum tincidunt velit nullam aliquet aenean mi suspendisse curae
          ante metus.
        </p>
        <p>
          Netus mollis bibendum vulputate consectetur lacinia curae eget odio
          placerat taciti venenatis. Nibh bibendum morbi magna consequat
          condimentum nisi aenean est eget porta ultricies duis fermentum
          rhoncus sociosqu. Blandit velit facilisis per ex condimentum id dictum
          nunc orci ut quisque porttitor. Risus posuere mollis nulla neque
          ultricies. Orci leo ornare taciti blandit posuere euismod maximus.
        </p>
        <p>
          Curae duis amet nec semper ad varius. Condimentum libero ligula nam
          maximus aptent. Venenatis aliquet at integer viverra ad adipiscing
          habitasse auctor et neque metus hac risus id imperdiet. Orci ornare
          venenatis adipiscing nisl pellentesque curae augue lectus eget gravida
          finibus et quis. Arcu metus ut dapibus phasellus vivamus placerat
          placerat nostra lacus duis.
        </p>
        <p>
          Velit elementum facilisis donec non mauris feugiat ut dui nisi ut
          integer. Maecenas potenti congue a aenean sed ultricies sagittis ac.
          Porttitor libero posuere libero morbi volutpat id feugiat torquent
          varius vehicula tempor consectetur.
        </p>
        <p>
          Nulla integer mattis dolor lacinia ullamcorper fringilla fermentum
          class arcu. Lacus pretium consectetur lorem primis turpis vulputate
          aliquam odio. Dapibus quisque nunc nisi porttitor platea accumsan quis
          nisl aliquam per fusce etiam tellus inceptos netus. Donec etiam
          aliquet libero rutrum ante volutpat eget nec. Vitae nostra convallis
          enim at volutpat orci potenti nostra.
        </p>
        <p>
          Vestibulum vel quisque consectetur accumsan vestibulum mollis
          ultricies cras odio laoreet elit dolor quisque vel. Etiam tristique
          elit senectus integer felis sociosqu arcu netus rhoncus ex.
        </p>
        <p>
          Aliquam litora aliquet lacus netus proin suscipit mi dictumst fames.
          Fames molestie platea egestas quam sociosqu praesent sem potenti.
          Iaculis fusce sociosqu nisi est sit etiam neque fermentum donec
          potenti inceptos tellus lacinia.
        </p>
        <p>
          Potenti dictumst arcu dolor volutpat torquent quisque dapibus interdum
          fermentum pharetra suspendisse vestibulum ultrices tellus eget.
          Bibendum dolor suspendisse pulvinar elementum class semper etiam
          viverra ut metus nunc ultricies.
        </p>
        <p>
          Praesent dictumst platea ipsum vestibulum fermentum ligula interdum
          torquent suscipit volutpat habitant consequat. Curabitur platea
          phasellus sapien elit arcu dignissim proin cursus laoreet sodales.
        </p>
        <p>
          Semper nec posuere nibh sem non per massa mollis vel litora sodales
          non conubia. Class malesuada proin tellus a pretium platea nullam
          cubilia eget elit blandit interdum. Taciti laoreet nisi egestas
          consequat diam tincidunt magna. Nostra elit dui ante non duis ante
          fusce.
        </p>
        <p>
          Aliquam himenaeos eget sagittis dignissim mi. Ut eleifend nam nec
          ullamcorper aliquam. Morbi sed platea massa nam sollicitudin augue
          eget dui eleifend rhoncus nisi praesent leo eleifend quam.
        </p>
        <p>
          Habitasse fusce semper blandit tortor ultrices lacinia diam tellus
          quam vivamus aptent. Rutrum consectetur mi bibendum ad nullam et.
        </p>
        <p>
          Ornare ligula faucibus litora sodales est risus enim pulvinar. Varius
          eu pharetra amet taciti dui. Suspendisse taciti erat tristique
          himenaeos orci mattis purus. Curae aenean neque consectetur auctor
          odio neque.
        </p>
        <p>
          Aptent turpis mi dictum molestie tristique pulvinar. Massa nulla
          libero diam adipiscing auctor. Augue tempor maximus molestie ex lacus
          tempus non ex eleifend potenti. Curae cursus laoreet per class rhoncus
          congue posuere ad platea ligula a interdum turpis.
        </p>
        <p>
          Pellentesque neque risus nostra vulputate molestie ac netus nec ante
          sem consequat nibh porttitor. Blandit commodo quis justo nisl aliquam
          etiam cubilia ut cras sollicitudin tortor sagittis habitasse.
        </p>
        <p>
          Vivamus vitae sit praesent felis pretium pharetra non metus. Donec
          fames quis luctus finibus accumsan sociosqu mauris ultrices
          suspendisse curabitur pretium aenean luctus. Rhoncus fusce curae
          molestie taciti dapibus ad leo diam litora tincidunt congue
          condimentum id id litora.
        </p>
        <p>
          Hendrerit diam nunc nibh lectus aptent dictum tortor feugiat tristique
          venenatis sollicitudin fringilla iaculis porttitor. Rutrum suscipit
          quis tincidunt fusce rhoncus scelerisque justo etiam massa tristique.
          Quam condimentum nam cras libero tristique auctor senectus. Mattis
          vulputate non netus feugiat dignissim mollis massa vehicula euismod
          ultricies laoreet. Aptent diam convallis arcu litora sociosqu justo.
        </p>
        <p>
          Suscipit primis hac congue quisque congue nibh lectus nullam etiam
          gravida egestas rhoncus pharetra. Fermentum vivamus etiam eleifend
          molestie aliquam sapien pulvinar id egestas auctor ad lorem. Hendrerit
          aptent luctus semper viverra purus sapien quam class ullamcorper vitae
          blandit. Vitae vulputate sed eget elit torquent elit pretium.
        </p>
        <p>
          Ad enim elementum maximus bibendum curabitur morbi porttitor
          condimentum quis. Metus nam et sociosqu commodo neque maximus proin
          interdum sed taciti aliquam neque.
        </p>
        <p>
          Mollis dictumst congue facilisis senectus dui bibendum neque molestie
          pharetra augue ipsum aptent iaculis sociosqu augue. Facilisis dapibus
          iaculis ante magna purus nullam erat molestie id bibendum cursus
          varius condimentum. Praesent diam duis vitae inceptos gravida nulla
          ultricies tristique. Magna semper risus curae ac class venenatis class
          dui mattis tempus curae suspendisse cras potenti vel. Curabitur id
          augue porta accumsan sem egestas torquent netus suscipit.
        </p>
        <p>
          Suscipit sem mattis risus ultricies dapibus nam egestas aptent
          pellentesque sapien ornare libero. Accumsan fermentum dui porta primis
          himenaeos aenean at fames cubilia dui non accumsan. Ultrices amet
          viverra maximus accumsan eget. Pretium malesuada fusce iaculis erat
          proin. Feugiat class lectus erat vestibulum adipiscing venenatis.
        </p>
        <p>
          In sagittis congue sapien cursus accumsan habitasse. Nullam vulputate
          maximus donec congue habitant a fusce aliquam orci facilisis at
          vestibulum at mattis nunc. Tincidunt quisque per at gravida auctor
          molestie non in nisi lectus vulputate sollicitudin convallis vel.
          Volutpat justo arcu proin nam taciti luctus magna ex turpis praesent
          curae.
        </p>
        <p>
          Nostra cubilia primis leo bibendum cras ad. Habitasse vehicula
          hendrerit sit primis aliquam aliquet consectetur erat tincidunt. Sed
          justo duis est nulla cursus per curabitur mollis taciti quisque lorem
          non.
        </p>
        <p>
          Tempus placerat molestie inceptos odio sed torquent habitant primis
          amet. Odio fermentum dignissim turpis quis hendrerit tortor ornare.
        </p>
        <p>
          Mollis lacinia mollis maximus sociosqu ultrices felis pretium augue
          fermentum nullam lacus interdum. Erat varius ligula id est aenean
          lorem sit class. Lacinia nunc ullamcorper tellus elit arcu elit fames
          potenti.
        </p>
        <p>
          Commodo platea ultricies posuere egestas proin etiam quisque consequat
          ultrices semper egestas sociosqu. Ultrices et hendrerit erat blandit
          auctor auctor eleifend enim non ante consequat pellentesque sodales
          euismod.
        </p>
        <p>
          Sem nunc tempor venenatis ad nisl dui cursus sapien. Curabitur cursus
          pretium ipsum vehicula vestibulum ultricies volutpat faucibus sapien
          scelerisque.
        </p>
      </div>
    </div>
  </div>
</section>
