---

---

<section id='home'>
  <main class='flow'>
    <div id='hallo'>
      <div class='wrapper'>
        <div class='diagonal'>
          <p class='diagonal-text'>Hi there!</p>
        </div>
      </div>
    </div>
  </main>
</section>

<style>
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  .wrapper {
    padding-top: 40px;
  }
  .diagonal-text {
    --clr-primary-300: hsl(219, 76%, 55%);
    --clr-primary-400: hsl(219, 76%, 40%);

    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    text-transform: none;
    font-weight: 900;
    font-size: clamp(2.8rem, calc(1.85rem + 4.74vw), 5.52rem);
    font-family: system-ui;
    rotate: -4deg;
    text-shadow:
      2px 2px 0 var(--clr-primary-300),
      4px 4px 0 rgba(42, 123, 155, 1),
      6px 6px 0 var(--clr-primary-400);
  }

  .diagonal {
    --skew-angle: -4deg;
    --background: linear-gradient(
      90deg,
      rgba(42, 123, 155, 1) 0%,
      rgba(87, 199, 133, 1) 50%,
      rgba(237, 221, 83, 1) 100%
    );

    position: relative;
    isolation: isolate;
  }

  .diagonal::after {
    content: "";
    background: var(--background);
    position: absolute;
    z-index: -50;
    inset: 0;
    transform: skewY(var(--skew-angle));
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
    transition: 0.3s;
  }
</style>
