---
interface NavItem {
  label: string;
  href: string;
  icon: string;
}

const navItems: NavItem[] = [
  {
    label: "Home",
    href: "/#home",
    icon: "",
  },
  {
    label: "Projects",
    href: "/#projects",
    icon: "",
  },
  {
    label: "Contact",
    href: "/#contact",
    icon: "",
  },
];

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<nav id='grabber'>
  <ul>
    {
      navItems.map((navItem) => (
        <li>
          <a
            href={navItem.href}
            class={currentPath == navItem.href ? "active" : ""}
          >
            {navItem.label}
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<style>
  a {
    color: oklch(96.72% 0 0);
    font-weight: 700;
    text-shadow: 2px 2px 0px #000000;
  }

  nav {
    display: flex;
    padding: 10px;
    z-index: 100;
    min-width: 450px;
    transition: 500ms ease;
    left: calc(1 / 2 * 100%);
    justify-content: center;
    position: fixed;
    translate: calc(calc(1 / 2 * 100%) /* 50% */ * -1);
    transform: translateY(50%);
  }

  ul {
    list-style-type: none;
    justify-content: center;
    align-items: center;
  }

  li {
    display: inline;
    padding: 14px 16px;
  }

  li a {
    text-align: center;
    text-decoration: none;
  }

  .sticking {
    --border-width: 2px;
    border-radius: 3rem;
    backdrop-filter: blur(12px) saturate(120%);
    /* transition: 500ms ease; */
  }

  .sticking::before {
    position: absolute;
    content: "";
    z-index: -1;
    inset: 0;
    border-radius: inherit;
    border: var(--border-width) solid transparent;
    background: oklch(1 0 0 / 18.5%) border-box;
    mask:
      radial-gradient(black, black) border-box,
      radial-gradient(black, black) padding-box;
    mask-composite: subtract;
    transition: 500ms ease;
  }
</style>

<script>
  document.addEventListener("astro:page-load", () => {
    const cssElement = document.getElementById("grabber");

    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          console.log(entry);
          const ratio = entry.intersectionRatio;

          if (ratio != 1) {
            cssElement?.classList.add("sticking");
          } else {
            cssElement?.classList.remove("sticking");
          }
          if (cssElement) {
            console.log(ratio);
            cssElement.style.width = `${Math.round(ratio * 90)}%`;
          }
        });
      },
      {
        threshold: Array.from({ length: 1000 }, (_, i) => i / 1000),
      },
    );

    const box = document.getElementById("hallo");
    if (box) {
      observer.observe(box);
    }
  });
</script>
