---
const allProjects = await Astro.glob("../content/projects/*.md");
---

<section class='text-[var(--white)] mt-12 md:mt-0' id='projects'>
  <div class='diagonal'>
    <div class='card-grid'>
      {
        allProjects.map((project) => (
          <div class='card'>
            <div class='card-image'>
              <img src={project.frontmatter.image} />
            </div>
            <div class='wrapper'>
              <p class='card-name'>{project.frontmatter.name}</p>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>

<style>
  .card-grid {
    display: grid;
    /* height: min(100% - 4rem, 1200px); */
    grid-column: 2;
    grid-rows: 200px;
    gap: 1rem;
    justify-content: center;
  }

  .card {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: minmax(0, 1fr);
    border-radius: 3rem;
    justify-content: center;

    /* padding: 3rem;
    --border-width: 2px;
    
    backdrop-filter: blur(36px) brightness(80%) sepia(20%) saturate(120%);
    width: 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s; */
  }

  .card-name {
    text-align: center;
    align-self: flex-end;
  }
  /* .wrapper {
    padding: 2px 16px;
  } */

  .card-image {
    background-size: cover;
  }
  /* .card::before {
    position: absolute;
    content: "";
    z-index: -1;
    inset: 0;
    border-radius: inherit;
    border: var(--border-width) solid transparent;
    backdrop-filter: brightness(180%) saturate(120%);
    background: radial-gradient(var(--border-1), var(--border-2)) border-box;
    mask:
      radial-gradient(black, black) border-box,
      radial-gradient(black, black) padding-box;
    mask-composite: subtract;
  } */

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
  }
  .card img {
    /* grid-area: 1 / 1 / -1 / -1; */
    border-radius: 3rem;
    border: 3px solid;
    size: inherit;
    display: block;
    object-fit: contain;
  }
</style>
