---
const allProjects = await Astro.glob("../content/projects/*.md");
---

<section class='text-[var(--white)] mt-12 md:mt-0' id='projects'>
  <div class='card-grid'>
    {
      allProjects.map((project) => (
        <div class='cards'>
          <p>{project.frontmatter.name}</p>
          <img src={project.frontmatter.image} />
        </div>
      ))
    }
  </div>
</section>

<style>
  .card-grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
  }

  img {
    display: block;
    max-inline-size: 100%;
  }

  .cards {
    display: grid;
    grid-template-rows: min-content 1fr;
    gap: 1em;
    border: 3px solid blanchedalmond;
  }
  .cards img {
    grid-column: 1;
    grid-row: 1 / span 2;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>
