---
import Card from "../components/Card.astro";

interface Project {
  name: string;
  image: string;
}

const projects: Project[] = [
  {
    name: "Munamii Cakery",
    image: "/src/assets/oskar-kadaksoo-yxU--QW33GM-unsplash_480x320.webp",
  },
  {
    name: "Portfolio",
    image: "/src/assets/pan-xiaozhen-twjBMeSe0Gg-unsplash_480x720.webp",
  },
  {
    name: "Placeholder",
    image: "/src/assets/milad-fakurian-Hqkx4vRhrIU-unsplash_480x720.webp",
  },
  {
    name: "More Placeholder",
    image: "/src/assets/patrick-federi-QS716x537_E-unsplash_480x720.webp",
  },
];
---

<section id='projects'>
  <div class='flex'>
    <div class='card-grid'>
      {
        projects.map((project) => (
          <Card
            imagePath={project.image}
            name={project.name}
            altText={project.name}
          />
        ))
      }
    </div>
  </div>
  <hr class='solid' />
</section>

<style>
  * {
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
  }

  hr.solid {
    border-top: 3px solid #bbb;
  }
  .flex {
    display: flex;
    margin: auto;
    padding-bottom: 20px;
  }

  .card-grid {
    margin: 20px auto;

    display: grid;
    grid-template-columns: 450px 450px;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-content: center;
    padding-bottom: 20px;
  }
</style>
