---
const allProjects = await Astro.glob("../content/projects/*.md");
import { Image } from "astro:assets";
---

<section id='projects'>
  <div class='flex'>
    <div class='card-grid'>
      {
        allProjects.map((project) => (
          <div class='card'>
            <div class='container'>
              <Image
                src={project.frontmatter.image}
                alt={project.frontmatter.name}
                loading='lazy'
              />
            </div>
            <div class='wrapper'>
              <p class='card-name'>{project.frontmatter.name}</p>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .flex {
    margin: auto;
    padding-bottom: 20px;
  }

  .card-grid {
    margin: 20px auto;
    width: min(100% - 4rem, 1200px);
    height: min(100% - 4rem, 1200px);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-content: center;
  }

  .card {
    display: grid;
    align-items: center;

    justify-content: center;

    box-sizing: border-box;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4); */
  }

  .card-name {
    text-align: center;
    align-self: flex-end;
    padding: 10px 0 10px 0;
    font-weight: 600;
    font-size: 24px;
  }

  .container {
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
    border-radius: 3rem;
    border-width: 2px;
  }
  .container img {
    border: 2px solid;
    border-radius: 3rem;
    display: block;
    object-fit: cover;
    width: 500px;
    height: 300px;
    max-width: 100%;
  }
</style>
