---
interface Props {
  title?: string;
}
import background from "../assets/backgroundImg.svg";
const { title = "Fredrik's Portfolio" } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' href='/favicon.svg' type='image/svg+xml' />
    <meta name='generator' content={Astro.generator} />
    <meta name='description' content="'s Portfolio website." />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
