---
interface Props {
  title?: string;
}

const { title = "Fredrik's Portfolio" } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf8_swedish_ci' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' href='/favicon.svg' type='image/svg+xml' />
    <link rel='shortcut icon' href='data:image/x-icon;,' type='image/x-icon' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class=''>
    <slot />
  </body>
</html>

<style></style>
